body{
    background-color: grey;
    width: 200px;
    border-radius:1em;
}

p{
    background-color: rgba(255,255,255,1);
    border-radius:1em;
    padding: 15px;
    font-family: Fixed, monospace;
}

#go{
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(0, 0, 0, 0);
    border-radius:1em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    border-color: rgba(255, 255, 255, 0);
}

#go:hover{
    border-color: rgb(116, 33, 124);
}
